a {
	text-decoration: none;
	color: #369;
}
section {
	width:825px;
	margin:50px auto;
	display: block;
}
hr {
	background: white url('http://codifyacademy.com/salespage/img/img-hr.png') no-repeat scroll 50% 50%;
	clear: both;
	border: 0;
	color: transparent;
	height: 12px;
}
/*Navigation*/
nav {
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	height: 48px;
	min-width: 100%;
}
nav ul {
	position: relative;
	float:right;
	list-style: none;
	margin:12px 18px;
	padding: 10px 30px 10px 30px;
	bottom:7px;
}
nav li {
	font-size: 12px;
	display: inline;
	margin: 15px 5px 15px 6px;
	padding: 3px 4px
}
nav ul a:hover {
	color:#18AFE0;
}
/*Header*/
header {
	clear:both;
	text-align: center;
	width:900px;
	margin:0 auto;
	/*Sets equal margins to both side of header*/
	font-family: 'Crimson Text', serif;
}
header h1 {
	font-size:58px ;
	margin:10px 0px 20px 0px;
	letter-spacing: -2px;
	line-height: 1em;
	/*spacing between lines*/
}
header p {
	font-size: 20px;
}
/*Basecamp, Highrise, Campfire*/
.apps {
	width:60%;
	margin: 0 auto;
	text-align: center;
	height: 300px;
}
.apps a h3 {
	font-size: 21px;
}
.apps a h3 span {
	text-decoration: underline;
}
.apps a h4 {
	color: #C00;
	font-size: 14px;
	margin: 10px 0 5px 0;
}
.apps a p {
	font-size: 14px;
	color: #222;
}
sup {
	color: #999;
	font-size:11px;
	font-weight: normal;
}
.apps a {
	border-radius: 5px;
	position: relative;
	border: 1px solid #E8E8E8;
	padding: 20px 15px 10px;
	float: left;
	width: 150px;
	box-shadow: 0 0 5px #EFEFEF;
	background:-webkit-gradient(linear, left top, left bottom, from(white), to(#EFEFEF));
	margin: 0 15px;
	left:150px;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}	
/*The Customers*/
.millions {
	margin-bottom: 50px;
}
.millions h2 {
	text-align: center;
	font-size: 48px;
	font-family: 'Crimson Text', serif;
	font-weight: 500;
	line-height: 1.1em;
	letter-spacing: -1px;
	margin-bottom: 0px;
}
.millions p {
	font-size: 22px;
	font-family: "CrimsonRoman", "Times New Roman", Georgia, serif;
	color: #666;
	margin-bottom: 1em;
	margin-top: 0px;
	text-align: left;
	line-height: 1.3em
}
/*Black/White and Color Photo*/
.photo {
	position: absolute;
	margin: -100px 0 0 -125px;
}
.photo a {
	display: block;
	background: url("http://codifyacademy.com/salespage/img/img-customers.png") no-repeat 0 0;
	text-indent: -1000em;
	height: 104px;
	width: 143px;
}
.photo a:hover {
	background-position:0 100%;
}
.photo p {
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	font-size: 10px;
	text-align: center;
	color: #369;
}
.photo p:hover {
	text-decoration: underline;
	color: #69C;
}
#arrow {
	position: relative;
	top: -35px;
}
#trusted {
	float: right;
	vertical-align: top;
}

/* We */

.description h2 {
	font-family: "CrimsonSemibold", "Times New Roman", Georgia, serif; 
	font-size: 48px;
	color: #232323;
	line-height: 1.1em;
	font-weight: 500;
	letter-spacing: -1px;
	text-align: center;
	overflow: hidden;
}
.des1 {
	float:left;
	width:50%;
	line-height: 1.5em;
	text-align: center;
}
.des2 {
	position: relative;
	float: left;
	width:50%;
	line-height: 1.5em;
	text-align: center;
}
.description h1 {
	font-family: "CrimsonSemibold", "Times New Roman", Georgia, serif;
	font-size:58px;
	font-weight: 500;
	float:left;
	color:#ccc;
	padding-left: 5px;
	margin-right: 15px;
}
.description h4 {
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;;
	font-size: 16px;
	color: #c00;
	text-align: left;
	margin: 5px 0;
}
.description p {
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;;
	font-size: 12px;
	color: #222;
	text-align: left;
}

/*REWORK*/

.reWork {
	text-align: center;
}
.reWork h2 {
	font-size: 48px;
	font-family: "CrimsonSemibold", "Times New Roman", Georgia, serif;
	line-height: 1.1em;
	letter-spacing: -1px;
	color: #232323;
	font-weight: 500;
}
.reWork img {
	float:left;
}
.reWork p em {
	color: #888;
	font-family: "CrimsonRomanItalic", "Times New Roman", Georgia, serif;
	font-size: 22px;
	line-height: 1.5em;
}
.reWork p {
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	font-size: 12px;
	line-height: 1.5em;
	color: #222;
}
#secondQuote {
	margin-top: 40px;
}
#anotherArrow {
	float: right;
	margin-top: -425px;
}
.trash {
	float:right;
	margin: -490px -120px 0 0;
	display: block;
	text-align: center;
}
#find {
	color: #222;
	font-size: 10px;
	text-decoration: none;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}
#find:hover {
	color: #69c;
	text-decoration: underline;
}

/*Offerings*/

.Offer {
	text-align: center;
	margin-bottom: -20px;
}
.Offer h1 {
	font-family: "CrimsonSemibold", "Times New Roman", Georgia, serif;
	font-size: 48px;
	color: #232323;
	line-height: 1.1em;
	letter-spacing: -1px;
	font-weight: 500;
	margin-bottom: 30px;
}
.offerings {
text-align: center;
margin-bottom: 20px;
}
.offerings a {
	border: 1px transparent;
	width:160px;
	display: inline;
	float: left;
	margin: 15px;
	position: relative;
	left:130px;
}
.offerings h3 {
	font-weight: bold;
	font-size: 21px;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	color: #222;
	line-height: 1.5em;
}
.offerings h4 {
	font-size: 14px;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	color: #c00;
	line-height: 1.5em;
}
.offerings p {
	font-size: 12px;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	color: #666;
	line-height: 1.4em;
}
.Offer .service {
	float: left;
	width: 300px;
	margin:0 30px 30px 100px;
	text-align: center;
}
.service h4 {
	font-size: 14px;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	font-weight: bold;
	color: #c00;
	line-height: 1.5em;
	border-bottom: 1px solid #e8e8e8;
	margin:5px 0;
}
.service a {
	font-size: 22px;
	font-family: "CrimsonSemibold", "Times New Roman", Georgia, serif;;
	font-weight: bold;
	color: #222;
	line-height: 1.5em;
}
.service p {
	font-size: 12px;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	color: #666;
	line-height: 1.5em;
}
.Books {
	float:left;
	width:300px;
	text-align: center;
	margin-bottom: 30px;
}
.Books h4 {
	font-size: 14px;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	font-weight: bold;
	color: #c00;
	line-height: 1.5em;
	border-bottom: 1px solid #e8e8e8;
	margin:5px 0;
}
.Books a {
	font-size: 22px;
	font-family: "CrimsonSemibold", "Times New Roman", Georgia, serif;;
	font-weight: bold;
	color: #222;
	line-height: 1.5em;
}
.Books p {
	font-size: 12px;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	color: #666;
	line-height: 1.5em;
}
.service a:hover, .Books a:hover {
	color: #69c;
}

/* The Foot */

.END {
	clear:both;
	text-align: center;
	line-height: 1.5em;
	margin:30px auto;
}
.END h4 {
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	font-size: 14px;
	color: #c00;
	margin-top: 0px;
}
.END li {
	list-style-type: none;
}
.END a li {
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	font-size: 12px;
	color: #369;
	margin: 5px 25px 5px 0px;
}
.END a li:hover {
	color: #69c;
}
footer p {
	font-size: 10px;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;;
	color: #999;
	margin:50px 0;
	line-height: 1.5em;
}
footer p a:hover {
	color: #69c;
}

/*================

Media Queries

=================*/

@media (max-width: 1095px) {
	.apps {
		width: 80%;
	}
}

@media (max-width: 829px) {
	.apps {
		width: 100%;
	}
}

@media (max-width: 669px) {
	header {
		width: 50%;
	}
	header h1 {
		font-size: 48px;
	}
	.apps {
		width: 60%;
		display: block;
	}
	.apps a {
		margin-bottom: 20px;
		left: 75px;
	}
}

@media (max-width: 592px) {
	nav {
		height: 150px;
	}
	nav ul {
		float: none;
		text-align: center;
	}
	nav li {
		display: block;
		margin: 5px auto;
	}
	header {
		width: 50%;
	}
	header h1 {
		font-size: 30px;
	}
	header p {
		font-size: 15px;
	}
	.apps {
		width: 60%;
		display: block;
	}
	.apps a {
		margin:10px auto;
		left: 25px;
	}
	.millions {
		width: 55%;
	}
	.millions h2 {
		font-size: 30px;
	}
	.millions p {
		font-size: 15px;
		margin-top: 20px;
		text-align: center;
	}
	.millions img,
	.photo,
	#arrow,
	#trusted {
		display: none;
	}
	.description {
		width: 95%
	}
	.description h2 {
		font-size: 35px;

	}
	.des1,
	.des2 {
		float: none;
		width: auto;
		margin-bottom: -20px;	
	}
	.description h1 {
		font-size: 40px;
	}
	.description h4 {
		text-align: center;
		font-size: 15px;
	}
	.description p {
		height: 125px;
		width: auto;
		margin-left: 40px;
	}
	.reWork {
		width: 50%;
	}
	.reWork h2 {
		font-size: 30px;
	}
	.reWork div a img {
		width: 250px;
		margin-left: -30px;
	}
	.reWork div p em {
		font-size: 15px;
	}
	#anotherArrow,
	.trash {
		display: none;
	}
	.Offer {
		width: 50%;
	}
	.Offer h1 {
		font-size: 30px;
	}
	.Offer a {
		left: 0;
		margin: 30 auto;
	}
	.Offer .service,
	.Offer .Books {
		margin: 0 auto;
		width: auto;
	}
}